body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card h2 {
    margin: 10px 0 5px;
}

.card p {
    color: #555;
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    padding: 8px 12px;
    border-radius: 5px;
}
